/**
 * ====================
 * VARIABLES
 * ====================
 */

:root {
  --font-family-main: Arial, sans-serif;

  --bg-color-main: #74a4b6;

  --text-color-main: #243556;
  --text-color-secondary: #E7F7FE;
  --text-color-danger: #dd5738;

  --font-size-h1: min(10vh, 10vw);
  --font-size-large-responsive: min(15vh, 15vw);

  --button-size-default: min(7vh, 7vw);
  --button-size-large: min(20vh, 20vw);
}

/**
 * ====================
 * BASE STYLES
 * ====================
 */

* {
  /* style reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-main);
  background-color: var(--bg-color-main);
  color: var(--text-color-main);
}

button {
  border: 0;
  background-color: transparent;
}

/**
 * ====================
 * HELPERS
 * ====================
 */

.sr-only {
  /* Not visible, but screen readers will read the content */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/**
 * ====================
 * LAYOUT
 * ====================
 */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100dvh;
  padding: 1rem;
}

/* ====================
 * COMPONENTS
 * ====================
 */

.h1 {
  text-align: center;
  font-size: var(--font-size-h1);
}

.numbers {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-large-responsive);
  line-height: 1;
  text-align: center;
}

.numbers-item {
  /* prevent numbers from shifting position when changing */
  width: calc(var(--font-size-large-responsive) + min(2dvw, 2dvh));
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: center;
  transform: translateX(max(-5dvw, -5dvh))
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-color-main);
  padding: 1rem;
  border-radius: 999rem;
  width: var(--button-size-default);
  height: var(--button-size-default);
}

.button--danger {
  background-color: var(--text-color-danger);
}

.button--large {
  width: var(--button-size-large);
  height: var(--button-size-large);
}

.button-content {
  display: none;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}

[data-state="stopped"] .button-content--stopped,
[data-state="started"] .button-content--started,
[data-state="paused"] .button-content--paused {
  display: block;
}

/**
 * ====================
 * ICONS
 * ====================
 */

.icon-stop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30%;
  height: 30%;
  background-color: var(--text-color-secondary);
}

.icon-play {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 15%;
  background-color: var(--text-color-secondary);
  overflow: hidden;
}

.icon-play::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 120%;
  height: 120%;
  background-color: var(--text-color-main);
  transform: rotate(-60deg);
  transform-origin: 0 0;
}

.icon-play::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 125%;
  height: 125%;
  background-color: var(--text-color-main);
  transform: translateY(-20%) rotate(60deg);
  transform-origin: bottom left;
}

.icon-pause {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.icon-pause::before {
  content: '';
  position: absolute;
  left: 20%;
  top: 10%;
  width: 20%;
  height: 80%;
  background-color: var(--text-color-secondary);
}

.icon-pause::after {
  content: '';
  position: absolute;
  right: 20%;
  top: 10%;
  width: 20%;
  height: 80%;
  background-color: var(--text-color-secondary);
}
