/**
 * ====================
 * VARIABLES
 * ====================
 */

:root {
  --font-family-main: Arial, sans-serif;

  --bg-color-main: #74a4b6;

  --text-color-main: #243556;
  --text-color-secondary: #E7F7FE;
  --text-color-danger: #dd5738;

  --font-size-h1: min(10vh, 10vw);
  --font-size-large-responsive: min(15vh, 15vw);
}

/**
 * ====================
 * BASE STYLES
 * ====================
 */

* {
  /* style reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-main);
  background-color: var(--bg-color-main);
  color: var(--text-color-main);
}

/**
 * ====================
 * HELPERS
 * ====================
 */

.sr-only {
  /* Not visible, but screen readers will read the content */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/**
 * ====================
 * LAYOUT
 * ====================
 */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100dvh;
  padding: 1rem;
}

.timer-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

/* ====================
 * COMPONENTS
 * ====================
 */

.title {
  text-align: center;
  font-size: var(--font-size-h1);
}

.text {
  font-size: var(--font-size-h1);
  line-height: 1;
}

.text--large {
  font-size: var(--font-size-large-responsive);
}

.text--numbers {
  /* prevent numbers from jumping around */
  width: 10rem;
  text-align: center;
}

.button {
  border: 0;
  background-color: var(--text-color-main);
  padding: 1rem;
  border-radius: 999rem;
  width: min(5vh, 5vw);
  height: min(5vh, 5vw);
}

.button--large {
  width: min(20vh, 20vw);
  height: min(20vh, 20vw);
  display: flex;
  align-items: center;
  justify-content: center;
}

.paused .icon, .stopped .icon {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--text-color-secondary);
  overflow: hidden;
}

.paused .icon::before, .stopped .icon::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 120%;
  height: 120%;
  background-color: var(--text-color-main);
  transform: rotate(-60deg);
  transform-origin: 0 0;
}

.paused .icon::after, .stopped .icon::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 125%;
  height: 125%;
  background-color: var(--text-color-main);
  transform: translateY(-20%) rotate(60deg);
  transform-origin: bottom left;
}

.started .icon {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.started .icon::before {
  content: '';
  position: absolute;
  left: 20%;
  top: 10%;
  width: 20%;
  height: 80%;
  background-color: var(--text-color-secondary);
}

.started .icon::after {
  content: '';
  position: absolute;
  right: 20%;
  top: 10%;
  width: 20%;
  height: 80%;
  background-color: var(--text-color-secondary);
}

[data-state] .stopped,
[data-state] .started,
[data-state] .paused {
  display: none;
  justify-content: center;
  align-items: center;
}

[data-state="stopped"] .stopped,
[data-state="started"] .started,
[data-state="paused"] .paused {
  display: block;
  width: 80%;
  height: 80%;
}

.paused, .stopped {
  margin-left: 25%;
}

.button-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.reset {
  display: block;
  position: relative;
  background-color: var(--text-color-danger);
}

.reset .icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30%;
  height: 30%;
  background-color: var(--text-color-secondary);
}
